<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Web Plom - Manager Sign Up
            {% endblock title %}
        </title>
    </head>
    <body>
        {% block main_content %}
            <h1>Manager Sign Up</h1>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.username.label }}
                {{ form.username }}
                <div style="font-size: smaller">
                    <p>
                        Click <b>Generate Username</b> to automatically generate username
                    </p>
                </div>
                {{ form.email.label }}
                {{ form.email }}
                <br>
                <br>
                <input class="btn btn-primary" type="submit" name="Create User">
                <br>
            </form>
            <button class="btn btn-primary"
                    id="generate-username"
                    style="margin-top: 3px">Generate Username</button>
            <p style="color: red">{{ error }}</p>
            <script type="module" src="{% static '/js/frontend_utils.js' %}"></script>
        {% endblock main_content %}
    </body>
</html>
