<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Password Reset Links
            {% endblock title %}
        </title>
    </head>
    <body>
        {% block main_content %}
            <h2>Manager Password Reset Links</h2>
            <p>Click on "Generate new password reset link" to set user password.</p>
            <br>
            <h4>Manager Status</h4>
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Activated</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <form method="post" action="">
                                {% csrf_token %}
                                <tr>
                                    <td style="padding-top: 14px">{{ user.username }}</td>
                                    <td style="padding-top: 14px">{{ user.is_active }}</td>
                                    <td>
                                        <button class="btn btn-primary"
                                                type="submit"
                                                name="new_link"
                                                value="{{ user.username }}">Generate new password reset link</button>
                                    </td>
                                </tr>
                            </form>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endblock main_content %}
    </body>
</html>
