<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
-->
{% extends "base/base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
                Web Plom - Scanners Sign Up
            {% endblock title %}
        </title>
    </head>
    <body>
        {% block page_heading %}
            Sign up - Scanners
        {% endblock page_heading %}
        {% block main_content %}
            <style>
      table {
        counter-reset: tableCount;
      }
      .counterCell:before {
        content: counter(tableCount);
        counter-increment: tableCount;
      }
      th,
      td {
        vertical-align: middle;
      }
            </style>
            <form method="post" action="">
                {% csrf_token %}
                {{ form.basic_or_funky_username.label }}
                {{ form.basic_or_funky_username }}
                <br />
                <!-- TODO: remove this br somehow -->
                <p>How many scanner users would you like to create?</p>
                <div class="input-group mb-1" style="width: 190px;">
                    {{ form.num_users }}
                    <input class="btn btn-primary" type="submit" value="Create">
                </div>
            </form>
            <br>
            {% if created %}
                <div style="width: 100%; text-align: center">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Usernames</th>
                                <th scope="col">Links</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for username, link in links.items %}
                                <tr>
                                    <th class="counterCell"></th>
                                    <th>{{ username }}</th>
                                    <td id="link">{{ link }}</td>
                                    <td>
                                        <button class="btn btn-primary"
                                                style="margin-left: 4px"
                                                onclick="myfunction()">Copy</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
            <script>
        function myfunction() {
          const link = document.getElementById('link');
          navigator.clipboard.writeText(link.textContent.replace(/Copy/, ''));
        }
            </script>
        {% endblock main_content %}
    </body>
</html>
