<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Edith Coates
    Copyright (C) 2022 Brennen Chiu
    Copyright (C) 2023 Colin B. Macdonald
    Copyright (C) 2023 Julian Lapenna
-->
{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.8.0"></script>
        <!-- Alpine -->
        <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
        <!-- Bootstrap stylesheet -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
              rel="stylesheet"
              integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
              crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
                integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
                crossorigin="anonymous"></script>
        <!-- Bootstrap icons -->
        <link rel="stylesheet"
              href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
        <!-- Sorttable by Stuart Langridge
            website = https://www.kryogenix.org/code/browser/sorttable/
            GitHub = https://github.com/stuartlangridge/sorttable -->
        <script src="https://www.kryogenix.org/code/browser/sorttable/sorttable.js"></script>
        <!-- Base stylesheet -->
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet"
              type="text/css"
              href="{% static '/css/profile.css' %}">
        <!-- Title -->
        <title>
            {% block title %}
                Web Plom
            {% endblock title %}
        </title>
    </head>
    <!-- Need the csrf token to enable htmx -->
    <body style="display: flex"
          hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        <div class="container-fluid">
            <div class="row" style="min-height: 100vh;">
                <div class="col-auto shadow bg-{{ navbar_color }}-subtle text-start">
                    <nav class="navbar">
                        <div class="container-fluid">
                            <!-- Navbar links -->
                            <ul class="nav flex-column">
                                <li class="nav-item text-center">
                                    <!-- Plom logo -->
                                    <a class="navbar-brand nav-link" href="{% url 'home' %}">
                                        <img class="img-fluid"
                                             src="{% static 'plomLogo.png' %}"
                                             style="max-width: 8rem">
                                    </a>
                                    <p>
                                        <b>
                                            {% if request.user.first_name %}
                                                {{ request.user.first_name }}
                                            {% else %}
                                                {{ request.user.username.lower }}
                                            {% endif %}
                                        </b>
                                    </p>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'logout' %}">Log out</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                                </li>
                                {% if user_is_admin %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'signup_manager' %}">Sign Up Manager</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'password_reset' %}">Password Reset Link</a>
                                    </li>
                                {% elif user_is_manager %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'users' %}">Users</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'prep_landing' %}">Create test</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'signup' %}">Create
                                        Scanners/Markers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'rubrics_landing' %}">Rubrics</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'tags_landing' %}">Tags</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'marking_info' %}">Marking Info</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'task_order_landing' %}">Task Ordering</a>
                                    </li>
                                    <li class="nav-item accordion accordion-flush">
                                        <a class="nav-link" data-bs-toggle="collapse" href="#progress">Progress</a>
                                    </li>
                                    <div class="collapse" id="progress">
                                        <ul>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'progress_scan_overview' %}">Scan</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'progress_mark_home' %}">Mark</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'progress_identify_home' %}">Identify</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="{% url 'progress_user_info_home' %}">User Info</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'reassemble_pdfs' %}">Reassemble</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'reports_landing' %}">Reports</a>
                                    </li>
                                {% elif user_is_scanner %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'scan_home' %}">Scan</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'scan_summary' %}">Summary</a>
                                    </li>
                                {% elif user_is_marker %}
                                    <li class="nav-item">
                                        <a class="nav-link" href="{% url 'progress_mark_home' %}">Marking progress</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="col">
                    <div class="container-fluid shadow-sm py-4 px-5">
                        <!-- Page heading -->
                        <h1 class="fw-lighter m-2">
                            {% block page_heading %}
                            {% endblock page_heading %}
                        </h1>
                        <p class="lead mb-2">
                            {% block page_subheading %}
                            {% endblock page_subheading %}
                        </p>
                        <!-- Main content -->
                        {% block main_content %}
                        {% endblock main_content %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
