<!--
    SPDX-License-Identifier: AGPL-3.0-or-later
    Copyright (C) 2022-2023 Edith Coates
    Copyright (C) 2022-2023 Andrew Rechnitzer
-->
{% extends "base/base.html" %}
{% block title %}
    Web Plom - Progress
{% endblock title %}
{% block page_heading %}
    Pushed papers
{% endblock page_heading %}
{% block main_content %}
    <div class="container-fluid pe-4">
        <div class="card">
            <div class="card-header">
                <ul class="nav nav-pills nav-fill">
                    <li class="nav-item">
                        {% if current_page == "overview" %}
                            <a class="nav-link active" href="{% url 'progress_scan_overview' %}">Overview</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'progress_scan_overview' %}">Overview</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if current_page == "bundles" %}
                            <a class="nav-link active" href="{% url 'progress_scan_bundles' %}">Pushed bundles</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'progress_scan_bundles' %}">Pushed bundles</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if current_page == "complete" %}
                            <a class="nav-link active" href="{% url 'progress_scan_complete' %}">Complete papers</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'progress_scan_complete' %}">Complete papers</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if current_page == "incomplete" %}
                            <a class="nav-link active" href="{% url 'progress_scan_incomplete' %}">Incomplete papers</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'progress_scan_incomplete' %}">Incomplete papers</a>
                        {% endif %}
                    </li>
                    <li class="nav-item">
                        {% if current_page == "discard" %}
                            <a class="nav-link active" href="{% url 'progress_scan_discard' %}">Discarded images</a>
                        {% else %}
                            <a class="nav-link" href="{% url 'progress_scan_discard' %}">Discarded images</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
            <div class="card-body">
                {% block main_card_content %}
                {% endblock main_card_content %}
            </div>
        </div>
    </div>
{% endblock main_content %}
