<!-- Copyright (C) 2023 Andrew Rechnitzer -->
<div class="card m-2" id="stats_{{ question }}_{{ version }}">
    {% if stats.all_task_count == 0 %}
        <div class="card-header">Question {{ question }} Version {{ version }}: no tasks</div>
    {% else %}
        <div class="card-header">
            Question {{ question }} Version {{ version }}
            {% if stats.all_task_count == stats.number_of_completed_tasks %}
                <i class="bi bi-check-circle text-success"></i>
            {% endif %}
        </div>
        <div class="card-body">
            <div class="card-text">
                <div class="progress m-2"
                     style="height: 2em"
                     role="progressbar"
                     aria-valuenow="{{ stats.number_of_completed_tasks }}"
                     aria-valuemin="0"
                     aria-valuemax="{{ stats.all_task_count }}">
                    {% if stats.all_task_count == stats.number_of_completed_tasks %}
                        <div class="progress-bar bg-success fs-6"
                             style="width: {{ stats.completed_percentage }}%">
                            {{ stats.number_of_completed_tasks }} / {{ stats.all_task_count }}
                        </div>
                    {% else %}
                        <div class="progress-bar fs-6"
                             style="width: {{ stats.completed_percentage }}%">
                            {{ stats.number_of_completed_tasks }} / {{ stats.all_task_count }}
                        </div>
                    {% endif %}
                </div>
                <table class="table table-sm table-bordered text-center">
                    <thead>
                        <tr>
                            <th>avg time</th>
                            <th>estimated remaining time</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{ stats.avg_marking_time }} s</td>
                            <td>{{ stats.approx_remaining_hours }} h</td>
                        </tr>
                    </tbody>
                </table>
                <!-- These statistics only viewable by lead markers and managers -->
                {% if user_is_lead_marker or user_is_manager %}
                    <table class="table table-sm table-bordered text-center">
                        <thead>
                            <tr>
                                <th>mean</th>
                                <th>median</th>
                                <th>mode</th>
                                <th>stdev</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{ stats.mark_mean }}</td>
                                <td>{{ stats.mark_median }}</td>
                                <td>{{ stats.mark_mode }}</td>
                                <td>{{ stats.mark_stdev }}</td>
                            </tr>
                        </tbody>
                    </table>
                {% endif %}
            </div>
        </div>
    {% endif %}
    <!-- These buttons only viewable by lead markers and managers -->
    {% if user_is_lead_marker or user_is_manager %}
        <div class="card-footer">
            <button class="btn btn-info"
                    hx-swap="outerHTML"
                    hx-target="#stats_{{ question }}_{{ version }}"
                    hx-get="{% url 'progress_mark_stats' question version %}">refresh</button>
            {% if stats.all_task_count %}
                <a href="{% url 'progress_mark_details' question version %}"
                   class="btn btn-success">show details</a>
            {% endif %}
            {% if version == 1 %}
                <a href="{% url 'progress_mark_version_compare' question %}"
                   class="btn btn-success">compare all Q{{ question }} versions</a>
            {% endif %}
        </div>
    {% endif %}
</div>
